In [1]:
import requests
import requests_cache
from bs4 import BeautifulSoup
import time
import json
import re
import pandas as pd # Dùng để đọc và hiển thị file csv/tsv
from datetime import datetime, timedelta # Dùng để xử lý dữ liệu thời gian
# YOUR CODE HERE (OPTION) 
# Nếu cần các thư viện khác thì bạn có thể import ở đây
# from requests_html import HTMLSession

import urllib.robotparser # Kiểm tra file robot.txt có được phép crawl không

In [2]:
url = f'https://www.worldometers.info/coronavirus'
now_r = requests.get(url)

now_soup = BeautifulSoup(now_r.text, 'lxml')
now_table = now_soup.find('table', attrs={'id':'main_table_countries_today'})
now_table_header = now_table.find('thead')
now_table_body = now_table.find('tbody')

now_attr_list = [str(attr.text.replace('\n','').replace('\xa0','')) for attr in now_table_header.findAll('th')]



now_new_table = pd.DataFrame(columns=now_attr_list)

row_marker = 0

for row in now_table_body.find_all('tr'):
    row_vals = [row_val.text.strip() for row_val in row.find_all('td')]
    for i, num in enumerate(row_vals):
        if ',' in num:
            row_vals[i] = int(num.replace(',', ''))
       
    
    new_row = pd.Series(row_vals, index = now_new_table.columns)
    now_new_table = now_new_table.append(new_row, ignore_index=True)

In [3]:
now = datetime.now()
now_new_table.to_csv(f"./data/{now.day}-{now.month}-{now.year}.csv", sep='\t',encoding='utf-8', index = False)

In [4]:
url = f'https://www.worldometers.info/coronavirus/#nav-yesterday'
yesterday_r = requests.get(url)

yesterday_soup = BeautifulSoup(yesterday_r.text, 'lxml')
yesterday_table = yesterday_soup.find('table', attrs={'id':'main_table_countries_yesterday'})
yesterday_table_header = yesterday_table.find('thead')
yesterday_table_body = yesterday_table.find('tbody')

yesterday_attr_list = [attr.text.replace('\n','').replace('\xa0','') for attr in yesterday_table_header.findAll('th')]
yesterday_new_table = pd.DataFrame(columns=yesterday_attr_list)

row_marker = 0
#append_df = pd.DataFrame(columns=now_attr_list)
for row in yesterday_table_body.find_all('tr'):
    row_vals = [row_val.text.strip() for row_val in row.find_all('td')]
    for i, num in enumerate(row_vals):
        if ',' in num:
            row_vals[i] = int(num.replace(',', ''))
    new_row = pd.Series(row_vals, index = yesterday_new_table.columns)
    yesterday_new_table = yesterday_new_table.append(new_row, ignore_index=True)

yesterday_new_table.head(10)

,#,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",...,TotalTests,Tests/1M pop,Population,Continent,1 Caseevery X ppl,1 Deathevery X ppl,1 Testevery X ppl,New Cases/1M pop,New Deaths/1M pop,Active Cases/1M pop
0,,Asia,116157191,553503,1346684,1628,107207358,418927,7603149,31020,...,,,,Asia,,,,,,
1,,North America,94807243,25676,1401120,+555,65618361,176434,27787762,14461,...,,,,North America,,,,,,
2,,South America,54223472,62340,1257291,+673,47773587,152857,5192594,13359,...,,,,South America,,,,,,
3,,Europe,155606954,440373,1705711,1569,131795826,748411,22105417,14709,...,,,,Europe,,,,,,
4,,Africa,11519531,5565,249261,+147,10607509,9646,662761,1845,...,,,,Africa,,,,,,
5,,Oceania,3516128,33621,7744,+30,3183050,18344,325334,204,...,,,,Australia/Oceania,,,,,,
6,,,721,,15,,706,,0,0,...,,,,,,,,,,
7,,World,435831240,1121078,5967826,4602,366186397,1524619,63677017,75598,...,,,,All,,,,,,
8,1,China,109092,+239,4636,,101868,+82,2588,19,...,160000000,111163,1439323776,Asia,13194,310467,9,0.2,,2
9,2,USA,80567757,7464,973119,+189,53192990,155945,26401648,8279,...,947752321,2835754,334215330,North America,4,343,0,22,0.6,78996

In [5]:
yesterday = datetime.now() - timedelta(1)
yesterday_new_table.to_csv(f"./data/{yesterday.day}-{yesterday.month}-{yesterday.year}.csv", sep='\t',encoding='utf-8', index = False)

In [6]:
url = f'https://www.worldometers.info/coronavirus/#nav-yesterday2'
yesterday2_r = requests.get(url)

yesterday2_soup = BeautifulSoup(yesterday2_r.text, 'lxml')
yesterday2_table = yesterday2_soup.find('table', attrs={'id':'main_table_countries_yesterday2'})
yesterday2_table_header = yesterday2_table.find('thead')
yesterday2_table_body = yesterday2_table.find('tbody')

yesterday2_attr_list = [attr.text.replace('\n','').replace('\xa0','') for attr in yesterday2_table_header.findAll('th')]
yesterday2_new_table = pd.DataFrame(columns=yesterday2_attr_list)

row_marker = 0
#append_df = pd.DataFrame(columns=now_attr_list)
for row in yesterday2_table_body.find_all('tr'):
    row_vals = [row_val.text.strip() for row_val in row.find_all('td')]
    for i, num in enumerate(row_vals):
        if ',' in num:
            row_vals[i] = int(num.replace(',', ''))
    new_row = pd.Series(row_vals, index = yesterday2_new_table.columns)
    yesterday2_new_table = yesterday2_new_table.append(new_row, ignore_index=True)

yesterday2_new_table.head(10)

,#,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",...,TotalTests,Tests/1M pop,Population,Continent,1 Caseevery X ppl,1 Deathevery X ppl,1 Testevery X ppl,New Cases/1M pop,New Deaths/1M pop,Active Cases/1M pop
0,,Asia,115603688,565490,1345056,1938,106788431,421651,7470201,30769,...,,,,Asia,,,,,,
1,,North America,94781567,50075,1400565,1112,65441927,194699,27939075,14873,...,,,,North America,,,,,,
2,,South America,54161132,119201,1256618,1275,47620730,139994,5283784,13459,...,,,,South America,,,,,,
3,,Europe,155166581,549858,1704142,2042,131047415,935059,22415024,15457,...,,,,Europe,,,,,,
4,,Africa,11513966,6834,249114,+170,10597863,10565,666989,1845,...,,,,Africa,,,,,,
5,,Oceania,3482507,36020,7714,+36,3164706,22372,310087,217,...,,,,Australia/Oceania,,,,,,
6,,,721,,15,,706,,0,0,...,,,,,,,,,,
7,,World,434710162,1327478,5963224,6573,364661778,1724340,64085160,76620,...,,,,All,,,,,,
8,1,China,108853,+249,4636,,101786,+72,2431,18,...,160000000,111163,1439323776,Asia,13223,310467,9,0.2,,2
9,2,USA,80560293,26003,972930,+635,53037045,170795,26550318,8636,...,947533088,2835098,334215330,North America,4,344,0,78,2,79441

In [7]:
yesterday2 = datetime.now() - timedelta(2)
yesterday2_new_table.to_csv(f"./data/{yesterday2.day}-{yesterday2.month}-{yesterday2.year}.csv", sep='\t',encoding='utf-8', index = False)